.number-input {
	background-color: #0000;
	border: 0;
	border-bottom: 2px solid #bbb;
	font-size: 1rem;
	margin: 10px 0;
	padding: 10px;
	text-align: right;
	outline: none;
}

.number-input:disabled {
	border: 0;
}

.number-input:focus {
	border-color: #069;
}
